BasedOnStyle: LLVM

IndentWidth: 4
UseTab: Never

# Function declarations / definitions
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: None

# Braces
BreakBeforeBraces: Attach
RemoveBracesLLVM: true

# Types/Pointers
PointerAlignment: Left

# Spaces
SpaceBeforeParens: ControlStatements

# Column limit
ColumnLimit: 120

# Force trailing return types for auto funcs (NOTE: clang-format doesn't have a direct toggle for this)

# Access modifiers
AccessModifierOffset: -4

# Namespaces
NamespaceIndentation: None
